/* Home */
.home .carousel-one {
  background-image: linear-gradient(
      rgba(19, 53, 123, 0.5),
      rgba(19, 53, 123, 0.5)
    ),
    url(../images/home-bg.jpg);
  height: 60vh;
  /* height: 100%; */
  background-attachment: fixed;
}

.home .carousel-one .carousel-caption {
  padding: 150px 0 50px 0;
}

.home .carousel-one .carousel-caption ol li a {
  color: blue;
}

.home .carousel-one .carousel-caption ol li::before {
  color: lightgrey;
}

/* main */
main section:nth-of-type(1) {
  padding: 0 0 80px;
}

@media (width <= 992px) {
  main section:nth-of-type(1) {
    padding: 100px 0;
  }
}
